# Normalize line endings to LF in the repository on all platforms.
* text=auto eol=lf

# Force binary treatment for true binary files.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.db  binary
